<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>default_gold</key>
    <string>200</string>
    <key>game_background_01</key>
    <string>bj01_01-ipadhd.png</string>
    <key>game_background_02</key>
    <string>bj02_01-ipadhd.png</string>
    <key>game_background_03</key>
    <string>bj03_01-ipadhd.png</string>
    <key>game_background_04</key>
    <string>bj04_01-ipadhd.png</string>
    <key>game_menu_title</key>
    <string>main_ui_title_cn-ipadhd.png</string>
    <key>game_menu_background</key>
    <string>ui_background_normal-ipadhd.png</string>
    <key>game_menu_text</key>
    <string>UI_GameMenuText_cn-ipadhd.plist</string>
    <key>game_menu_ui</key>
    <string>UI_GameStartMenuLayer-ipadhd.plist</string>
    <key>game_menu_start_text</key> 
    <string>ui_2p_010.png</string>
    <key>game_menu_start_normal</key>
    <string>ui_button_box02_02.png</string>
    <key>game_menu_start_selected</key>
    <string>ui_button_box02_01.png</string>
    <key>game_menu_scene_text</key>
    <string>button_other_014.png</string>
    <key>game_menu_scene_normal</key>
    <string>ui_button_box01_02.png</string>
    <key>game_menu_scene_selected</key>
    <string>ui_button_box01_01.png</string>
    <key>fish_plist_03</key>
    <string>FishActor-Large-ipadhd.plist</string>
    <key>fish_plist_05</key>
    <string>FishActor-Marlin-ipadhd.plist</string>
    <key>fish_plist_04</key>
    <string>FishActor-Shark-ipadhd.plist</string>
    <key>fish_plist_01</key>
    <string>FishActor-Small-ipadhd.plist</string>
    <key>fish_plist_02</key>
    <string>FishActor-Mid-ipadhd.plist</string>
    <key>fish_frame_count</key>
    <!--动画的最大帧数-->
    <string>10</string>
    <key>fish_animation_format</key>
    <!--动画的名称-->
    <string>fish_animation_%02d</string>
    <key>fish_plist_format</key>
    <string>fish_plist_%02d</string>
    <key>fish_frame_delay</key>
    <string>0.15</string>
    <key>fish_frame_format</key>
    <string>%s_actor_%03d.png</string>

</dict>
</plist>
